// @import "../../assets/css/font.css";

@use "colors" as *;

.task-list {
  margin: 50px auto;
  // background: aliceblue;
  padding: 10px;

  background: url("./img/bg.jpg")no-repeat center right;
}

.task {
  font-size: 18px;
  color: $text-secondary;
}

.task.done {
  opacity: 0.7;
}